Parser/.DS_Store
Parser/*~
Parser/pddl
Parser/pddl.dSYM/
Parser/bin/
Parser/*.tab.hh
Parser/location.hh
Parser/position.hh
Parser/stack.hh
Parser/src/*.yy.cc
Parser/src/*.tab.cc
Parser/src/*.output

.idea/
cmake-build-debug/

Planner/Planner

Planner/Debug
